<% provide(:title, "作成者について") %>

<h1>このシステムの作成者について</h1>
<p>
  片野直人と申します。私のポートフォリオをご覧になっていただき、ありがとうございます。
</p>
<p>
  こちらのページでは、私の経歴についてご説明させていただきます。
  システムの詳細については、下記をクリックするか、上のタブのabout_appをクリックしていただければと存じます。
</p>