<% provide(:title, "システムについて") %>

<h1>このシステムについて</h1>
<p>
  コールセンターなどで使用されるFAQ管理システムを意識して作成しました。実装した機能は、以下の通りです。
</p>

<ul>
  <li>FAQ管理・参照</li>
  <li>社内周知管理・参照</li>
  <li>従業員管理</li>
  <li>問い合わせ内容記録・参照</li>
  <li>従業員同士のフォロー機能</li>
</ul>

<p>
  システムの体験をご希望の方は、お手数ですが下記の手順に沿ってログインをお願いいたします。
</p>

<ul>
  <li>上のタブの「ホーム」ボタンをクリック</li>
  <li>画面中央のログインフォームに、下記のアドレスとパスワードを入力</li>
  <li>アドレス：example@rails-tutorial.com</li>
  <li>パスワード：Pass＠1234</li>
</ul>
