<% provide(:title, "作成者について") %>

<h1>このシステムの作成者について</h1>
<p>
  片野直人と申します。私のポートフォリオをご覧になっていただき、ありがとうございます。
</p>
<p>
  職務経歴書と、過去に作成したポートフォリオのGitHubリンクです。ご確認頂けたら幸いです。  
</p>

<br><br>

<p>
  職務経歴書（google driveに公開したpdfファイルが開かれます）
</p>
<p>
  <a href="https://drive.google.com/file/d/1JbpT1B6Gqd2d-w_kLc02C6uS-1Yaxr6C/view?usp=sharing">
    https://drive.google.com/file/d/1JbpT1B6Gqd2d-w_kLc02C6uS-1Yaxr6C/view?usp=sharing
  </a>
</p><br>

<p>
  日報管理システム（Servlet/jspで作成）
</p>
<p>
  <a href="https://github.com/neioge/daily_report_sample.git">
    https://github.com/neioge/daily_report_sample.git
  </a>
</p><br>

<p>
  Todo管理アプリ（Docker/LEMP/Laravelで作成）
</p>
<p>
  <a href="https://github.com/neioge/docker-laravel-todo.git">
    https://github.com/neioge/docker-laravel-todo.git
  </a>
</p>