<% provide(:title, "ホーム") %>

<h1>FAQ管理システムへようこそ</h1>
<p>
  下記のログインフォームにメールアドレスとパスワードを入力してください。
  アカウントを作成される方は「アカウントを作成」をクリックしてください。
</p>
<p>
  サンプルユーザーで体験をご希望の方は、下記のメールアドレスとパスワードをご入力お願いいたします。
</p>

<ul>
  <li>mailadress :</li>
  <li>password :</li>
</ul>