<div class="center jumbotron">
  <h1>FAQ管理システムへようこそ</h1>
  <p>
    アカウントを作成される方は「アカウントを作成」をクリック。
  </p>
  <p>
    作成済みの方は右上のログインボタンをクリック。
  </p>
  
  <%= link_to "アカウントを作成", signup_path,  class: "btn btn-lg btn-primary" %>
</div>