<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="employee_info">
        <%= render 'shared/employee_info' %>
      </section>
      <section class="report_form">
        <%= render 'shared/report_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>タイムライン</h3>
      <%= render 'shared/timeline' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>FAQ管理システムへようこそ</h1>
    <p>
      アカウントを作成される方は「アカウントを作成」をクリック。
    </p>
    <p>
      作成済みの方は右上のログインボタンをクリック。
    </p>
    
    <%= link_to "アカウントを作成", signup_path,  class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
