<li>
  <%= gravatar_for employee, size: 50 %>
  <%= link_to employee.name, employee %>
  <% if current_employee.admin? && !current_employee?(employee) %>
    | <%= link_to "削除", employee, method: :delete,
                                  data: { confirm: employee.name + "　を削除しますか？" } %>
  <% end %>
</li>