<% provide(:title, '従業員一覧') %>
<h1>従業員一覧</h1>

<!--ページネイトはFAQ管理で使う予定。また、従業員とタイムラインは無限スクロールにしたいところ-->
<!--このコード自体は、ページ数を表示するだけ。「求められたページに対応する従業員を取得してビューに渡す」のはindexアクションで。-->
<%= will_paginate %>

<ul class="employees">
    <%= render @employees %>
</ul>

<%= will_paginate %>